@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.type{
  @apply h-[34px] w-[86px] rounded-[5px] text-[#FFEAD0] font-[600] flex justify-center items-center;
}

body{
  font-family: "Inter", sans-serif;
}

.active{
  font-weight: bold;
 text-decoration: underline;
 color: #161616;
}

.simple{
  background-color: #E17654;
}

.rugged{
  background-color: #115E59;
}

.luxury{
  background-color: #161616;
}
